<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Student Management System</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	

</head>
<body>
		<div class="container my-2">
		<h1>Student List</h1>
		
		<a th:href="@{/showNewStudentForm}" class="btn btn-primary btn-sm mb-3"> Add Student </a>
		
		<table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Student RegNo</th>
                    <th>Student Name</th>
                    <th>Mark1</th>
                    <th>Mark2</th>
                    <th>Mark3</th>
                    <th>Total</th>
                    <th>Average</th>
                    <th> Actions </th>
                </tr>
            </thead>
              <tbody>
                <tr th:each="student : ${listStudent}">
                    <td th:text="${student.regNo}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.mark1}"></td>
                    <td th:text="${student.mark2}"></td>
                    <td th:text="${student.mark3}"></td>
                    <td th:text="${student.total}"></td>
                    <td th:text="${student.average}"></td>
                    <td> <a th:href="@{/showFormForUpdate/{regNo}(regNo=${student.regNo})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/deleteEmployee/{regNo}(regNo=${student.regNo})}" class="btn btn-danger">Delete</a>
                    
                </tr>
             </tbody>
          </table>
        </div>
		

</body>
</html>